
#heading1{
    text-align: center;
}

.paragraph{
    font-family: DejaVu Sans Mono;
    font-size: 18px;
    color: green;
}
#mydivision{
    background-color: blue;
    margin: 40px;
    padding: 30px;
    color: white;
}
#mydivision:hover{
    background-color: green;
}

#test{
    background-color: #ff00fb;
    margin: 40px;
    padding: 40px;
    display: flex;
    color: white;
}

#test img{
    margin-right: 40px;
    border-radius: 400px;
}
#main{
    display: flex;
}
#advertisement{
    background-color: #ff0048;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px grey;
}

#accounting{
    background-color: blue;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px grey;
}
#payment{
    background-color: green;
    color: white;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px grey;
}
#advertisement:hover, #accounting:hover, #payment:hover{
    background-color: grey;
}